* {
    margin: 0;
    padding: 0;
}

.container {
    background: rgb(79, 78, 78);
    height: 120px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
}

#main-page-headlines {
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 40px;
}

#first {
    color: rgba(255, 255, 255, 0.571);
    font-size: 30px;
}

#fourth {
    color: rgba(255, 255, 255, 0.571);
}

#nav-bar {
    background: rgb(48, 48, 48);
    height: 60px;
    color: rgba(255, 255, 255, 0.571);
    display: flex;
    align-items: center;
    margin: 0 60px 0 0;
}

li {
    padding: 0px 10px 0px 10px;
}

.container_2 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin: 40px;
   
}

.first_image {
    flex-basis: 57%;
    padding: 0 100px 0 0;
}

.second_image {
    flex-basis: 35%;
    
}

.container_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 40px;
}

#first_plant {
    flex-wrap: wrap;
    flex-basis: 35%
    
}
#second_plant {
    flex-wrap: wrap;
    flex-basis: 25%
}
#third_plant {
    flex-wrap: wrap;
    flex-basis: 25%
}

footer {
    width: 100%;
    margin: 100px 0 0 0;
    display: flex;
    padding: 0 0 0 40px;
    color: white;
    background: rgb(57, 55, 55);
    height: 60px;
    align-items: center;
}